@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .clamp-contur {
        font-size: clamp(16px, 4vw, 29px);
        line-height: clamp(1rem, 5vw, 2.25rem);
    }

    .clamp-contur-s {
        font-size: clamp(6px, 1vw, 8px);
    }

    .burguer-menu {
        @apply flex h-12 w-12 p-2;
    }

    .section-default {
        @apply max-w-4xl my-0 mx-auto p-4 sm:px-8;
    }

    .glass {
        background: rgba(255, 255, 255, 0.25);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3.4px);
        -webkit-backdrop-filter: blur(3.4px);
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    .link {
        @apply flex flex-row items-center gap-4 underline text-cyan-600;
    }

    .fieldset {
        @apply p-4 border rounded-lg bg-white;

        :is(input, textarea, button) {
            @apply border rounded-sm px-4 py-1 mb-4;
        }

        :is(textarea) {
            @apply h-full w-full;
        }

        :is(label):after {
            content: ' *';
            @apply text-red-400;
        }
    }

    .button-send {
        @apply border py-2 px-8 transition-all font-semibold text-zircon bg-cello rounded-md hover:bg-cello-600;
    }

    .button {
        @apply border bg-white text-gray-700 py-2 px-8 transition-all font-semibold rounded-md hover:bg-gray-100;
    }
}